@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  // font-family: 'Playball', sans-serif;
  scroll-behavior: smooth;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 300;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.heading-2 {
  font-family: 'Playball', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 88px;
}
.heading-3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
}

.custom-btn {
  padding: 18px 40px;
  font-weight: 400;
  display: inline-block;
  background: var(--color-primary);
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 20px;
  min-width: fit-content;
  &:hover {
    opacity: 0.8;
  }
}

p {
  white-space: break-spaces;
}

.footer-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 80%;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}

::selection {
  background-color: rgb(blue, 30%) !important;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1272px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}